ul{
    list-style-type: square;
}


a{
    list-style: circle;
}

.films {
    list-style-type: upper-roman;
}

.languages {
    list-style-type: lower-alpha;
}

.cities {
    list-style-type: decimal-leading-zero;
}

.sports {
    list-style-type: disc;
}

.subjects {
    list-style-type: georgian;
}

.w {
    list-style-type: lower-greek;
}

.r {
    list-style-type: square;
}

.p {
    list-style-type: upper-alpha;
}