/* 11 */
nav {
    font-size: 26px;
}

nav ul {
    font-size: 90%;
}

/* 12 */
footer {
    font-size: 38px;
}

footer p {
    font-size: 110%;
}

/* 13 */
aside {
    font-size: 42px;
}

aside h5 {
    font-size: 70%;
}