h1{
    color: white;
    background-color: darkblue;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
}

p{
    color: black;
    background-color: lightblue;
    font-size: 20px;
    text-align: left;
    border: 2px solid blue;
}

button{
    color: white;
    background-color: green;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 5px;
}