.box1 {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 15px;
}

.box2 {
    width: 300px;
    height: 180px;
    background-color: green;
    border-radius: 25px;
}

.box3 {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50px;
}

.box4 {
    width: 250px;
    height: 120px;
    background-color: purple;
    border-radius: 10px;
}

.box5 {
    width: 220px;
    height: 220px;
    background-color: orange;
    border-radius: 30px;
}
style.css


.box6{ 
   width: 220px;
   height: 220px;
   background-color: rgb(255, 0, 0);
   border-radius: 30px;


}

